.main-menu a{
    text-decoration: none;
}
.bg-black{
    background: black
}


.bg-black2{
    background: #212121
}
.main-color{
    color: #ff3115;
}

.bg-mc{
    background: #ff3115
}
.apply-now a{
    transition-duration: 0.3s;
    text-decoration: none;
  
}
.bg-mc2{
    background: #e41f05
}
.apply-now a:hover{
    color: #e41f05

}
.thg{
    display: table-header-group;
}

.dropbtn {
    color:#bbbbbb;
    padding: 16px;
    font-size: 16px;
    border: none;
    
  }
  
  .dropdown {
    position: relative;
    display: inline-block;
    
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    color: #bbbbbb;
    transition: all .5s;
    
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  .dropdown-content a {
    color: #bbbbbb;
    padding: 12px 16px;
    display: block;
    transition-duration: 0.3s;
  }
  
  .dropdown-content a:hover {background-color: #212121;
    color: #ff3115 ;}
  
  .dropdown:hover .dropdown-content {
    display: block;
    background-color: black;

}
  
  .dropdown:hover .dropbtn {color: #ff3115;}
